.tabs {
    display: flex;
}

.tab {
    padding: 10px;
    border: none;
    background-color: bisque;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid black;
}

.tab-content.active {
    display: block;
}